{% load static %}
<div class="modal fade newsletter-modal active" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <div class="text-block">
                    <span>Newsletter sign up</span>
                    <p>Sign up for exclusive updates, new arrivals and insider-only discounts</p>
                    <div class="block-input">
                        <input type="text" class="tt-input" name="#" placeholder="Enter your email">
                    </div>
                    <a href="#" class="btn tt-btn-type1">Subscribe</a>
                    <label class="tt-checkbox">
                        <input type="checkbox">
                        <span class="box"></span>
                        <span>Don't Show this popup again</span>
                    </label>
                </div>
                <div class="image-block">
                    <img src="{% static 'images/product/home_page/popaps/photo-1.jpg' %}" alt="alt">
                </div>
            </div>
        </div>
    </div>
</div>